<!-- sales_reports.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Reports</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h2>Sales Reports</h2>
    <form method="post">
        {% csrf_token %}

    </form>
    <canvas id="salesChart" width="400" height="200"></canvas>

    
</body>
</html>
